* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #cccccc;
}

.traffic-light {
  width: 180px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: 10px solid white;
  background-color: white;
}

.red,
.yellow,
.green {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 160px;
  width: 160px;
}

.red {
  background-color: #ff0000;
  border: 16px solid #8b0000;
}

.yellow {
  background-color: #ffff00;
  border: 16px solid #b7860b;
  margin: 10px 0 10px 0;
}

.green {
  border: 16px solid #006400;
  background-color: #008001;
}

.overlay-red {
  background-color: #ff938d;
  grid-column: 1/3;
  grid-row: 2/3;
}

.overlay-yellow {
  background-color: #ffff9d;
  grid-column: 2/3;
  grid-row: 2/3;
}

.overlay-green {
  background-color: #92bf8b;
  grid-column: 1/2;
  grid-row: 2/3;
}
